*~
*/*.o
*/*.mod
*/*~
*/*/*~
*/*/sigma*dat
*/*/rho*dat

examples/
bin/

*.o
*.mod
*.a
*.in
*.in-*
*.out
*.out-*
*.dat
*.dat-*
*.eps
*.pdf
*.gnu
*.lammps
*.log
*.x
*.sh
*.ipynb
*.txt

Makefile
POSCAR*

tgtbgen
tg_kpgen
